# <center> PySpark Programming Introduction</center>

In [1]:
print("Welcome to PySpark World..!")
print("*"*30)
rdd1 = sc.textFile("/home/ubuntu/data/comment.txt")
print(rdd1.count())
print("*"*30)
for row in rdd1.collect():
    print(row)
print("*"*30)
for row in rdd1.take(2):
    print(row)
print("*"*30)

Welcome to PySpark World..!
******************************

4
******************************
spark hadoop spark hive
spark spark hive hive
hadoop hdfs hadoop hdfs
hadoop hdfs hive spark
******************************
spark hadoop spark hive
spark spark hive hive
******************************

## <center> PySpark Core Programming </center>

In [1]:
print(sc)
print(type(sc))

<SparkContext master=local[*] appName=PySparkShell>
<class 'pyspark.context.SparkContext'>

In [2]:
print(spark)
print(type(spark))

<pyspark.sql.session.SparkSession object at 0x7fb6381dbe20>
<class 'pyspark.sql.session.SparkSession'>

### Write a PySpark Program to find count, display all rows and display few rows

In [3]:
#creating RDD using SparkSession
rdd1 = spark.sparkContext.textFile("/home/ubuntu/data/comment.txt")

#Count No.of rows an RDD
print(rdd1.count())
print("*"*30)

#Display all rows an RDD
for row in rdd1.collect():
    print(row)
print("*"*30)

#Display few rows an RDD
for row in rdd1.take(2):
    print(row)
print("*"*30)

4
******************************
spark hadoop spark hive
spark spark hive hive
hadoop hdfs hadoop hdfs
hadoop hdfs hive spark
******************************
spark hadoop spark hive
spark spark hive hive
******************************

### Write PySpark Program to find WordCount (Word Repeated How many time)

In [9]:
#creating RDD using SparkSession
rdd1 = spark.sparkContext.textFile("/home/ubuntu/data/comment.txt")

print("All rows an RDD:")
print("*"*30)
for row in rdd1.collect():
    print(row)
print("*"*30)

rdd2 = rdd1.flatMap(lambda x:x.split(" "))
print("After flatMap transformation, All rows an RDD:")
print("*"*30)
for row in rdd2.collect():
    print(row)
print("*"*30)

rdd3 = rdd2.map(lambda x:(x,1))
print("After map transformation, All rows an RDD:")
print("*"*30)
for row in rdd3.collect():
    print(row)
print("*"*30)

rdd4 = rdd3.reduceByKey(lambda x,y:(x+y))
print("After reduceBy transformation, All rows an RDD:")
print("*"*30)
for row in rdd4.collect():
    print(row)
print("*"*30)

All rows an RDD:
******************************
spark hadoop spark hive
spark spark hive hive
hadoop hdfs hadoop hdfs
hadoop hdfs hive spark
******************************
After flatMap transformation, All rows an RDD:
******************************
spark
hadoop
spark
hive
spark
spark
hive
hive
hadoop
hdfs
hadoop
hdfs
hadoop
hdfs
hive
spark
******************************
After map transformation, All rows an RDD:
******************************
('spark', 1)
('hadoop', 1)
('spark', 1)
('hive', 1)
('spark', 1)
('spark', 1)
('hive', 1)
('hive', 1)
('hadoop', 1)
('hdfs', 1)
('hadoop', 1)
('hdfs', 1)
('hadoop', 1)
('hdfs', 1)
('hive', 1)
('spark', 1)
******************************
After reduceBy transformation, All rows an RDD:
******************************

('spark', 5)
('hadoop', 4)
('hive', 4)
('hdfs', 3)
******************************

# <center> PySpark SQL </center>

### Write a PySpark SQL to create DataFrame from CSV and Apply DSL Queries

In [4]:
cancerdataDF = spark.read.csv("/home/ubuntu/data/CancerData.csv")
cancerdataDF.printSchema()
cancerdataDF.show(5)

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: string (nullable = true)
 |-- _c5: string (nullable = true)
 |-- _c6: string (nullable = true)
 |-- _c7: string (nullable = true)
 |-- _c8: string (nullable = true)
 |-- _c9: string (nullable = true)
 |-- _c10: string (nullable = true)
 |-- _c11: string (nullable = true)

+------+-----+---+---+--------+-----------------+---------+---------+--------+-----+---------+--------+
|   _c0|  _c1|_c2|_c3|     _c4|              _c5|      _c6|      _c7|     _c8|  _c9|     _c10|    _c11|
+------+-----+---+---+--------+-----------------+---------+---------+--------+-----+---------+--------+
|    ID| Name|Age|Sex|   State|         Symptoms|Diagnosis|   Cancer|CancerSc|Stage|Treatment|Survival|
|100001|David| 45|  M| ALAMAMA|RED ITCHY PATCHES|   BIOPSY|MALIGNANT|    SKIN|    1|RESECTION|     YES|
|100002| John| 56|  M|  ALASKA|      BLOOD COUGH| PET SCAN|MALIGNANT|THORACIC|    2|  SURGERY|     YES|
|100003| Paul| 65|  M| ARIZONA|RED ITCHY PATCHES|   BIOPSY|MALIGNANT|    SKIN|    3|RESECTION|      NO|
|100004| Mark| 35|  M|ARKANSAS|      BLOOD COUGH| PET SCAN|MALIGNANT|THORACIC|    3|  SURGERY|      NO|
+------+-----+---+---+--------+-----------------+---------+---------+--------+-----+---------+--------+
only showing top 5 rows

### Write a PySpark SQL to create DataFrame from CSV by intimating header and Apply DSL Queries

In [5]:
cancerdataDF = spark.read.csv("/home/ubuntu/data/CancerData.csv",header=True)
cancerdataDF.printSchema()
cancerdataDF.show(5)

root
 |-- ID: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Symptoms: string (nullable = true)
 |-- Diagnosis: string (nullable = true)
 |-- Cancer: string (nullable = true)
 |-- CancerSc: string (nullable = true)
 |-- Stage: string (nullable = true)
 |-- Treatment: string (nullable = true)
 |-- Survival: string (nullable = true)

+------+-----+---+---+----------+-----------------+---------+---------+--------+-----+---------+--------+
|    ID| Name|Age|Sex|     State|         Symptoms|Diagnosis|   Cancer|CancerSc|Stage|Treatment|Survival|
+------+-----+---+---+----------+-----------------+---------+---------+--------+-----+---------+--------+
|100001|David| 45|  M|   ALAMAMA|RED ITCHY PATCHES|   BIOPSY|MALIGNANT|    SKIN|    1|RESECTION|     YES|
|100002| John| 56|  M|    ALASKA|      BLOOD COUGH| PET SCAN|MALIGNANT|THORACIC|    2|  SURGERY|     YES|
|100003| Paul| 65|  M|   ARIZONA|RED ITCHY PATCHES|   BIOPSY|MALIGNANT|    SKIN|    3|RESECTION|      NO|
|100004| Mark| 35|  M|  ARKANSAS|      BLOOD COUGH| PET SCAN|MALIGNANT|THORACIC|    3|  SURGERY|      NO|
|100005|James| 44|  M|CALIFORNIA|RED ITCHY PATCHES|   BIOPSY|MALIGNANT|    SKIN|    2|RESECTION|     YES|
+------+-----+---+---+----------+-----------------+---------+---------+--------+-----+---------+--------+
only showing top 5 rows

### Write a PySpark SQL to create DataFrame from CSV by intimating header and Inferring Schemaand Apply DSL Queries

In [6]:
cancerdataDF = spark.read.csv("/home/ubuntu/data/CancerData.csv",header=True,inferSchema=True)
cancerdataDF.printSchema()
cancerdataDF.show(5)

root
 |-- ID: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Sex: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Symptoms: string (nullable = true)
 |-- Diagnosis: string (nullable = true)
 |-- Cancer: string (nullable = true)
 |-- CancerSc: string (nullable = true)
 |-- Stage: string (nullable = true)
 |-- Treatment: string (nullable = true)
 |-- Survival: string (nullable = true)

+------+-----+---+---+----------+-----------------+---------+---------+--------+-----+---------+--------+
|    ID| Name|Age|Sex|     State|         Symptoms|Diagnosis|   Cancer|CancerSc|Stage|Treatment|Survival|
+------+-----+---+---+----------+-----------------+---------+---------+--------+-----+---------+--------+
|100001|David| 45|  M|   ALAMAMA|RED ITCHY PATCHES|   BIOPSY|MALIGNANT|    SKIN|    1|RESECTION|     YES|
|100002| John| 56|  M|    ALASKA|      BLOOD COUGH| PET SCAN|MALIGNANT|THORACIC|    2|  SURGERY|     YES|
|100003| Paul| 65|  M|   ARIZONA|RED ITCHY PATCHES|   BIOPSY|MALIGNANT|    SKIN|    3|RESECTION|      NO|
|100004| Mark| 35|  M|  ARKANSAS|      BLOOD COUGH| PET SCAN|MALIGNANT|THORACIC|    3|  SURGERY|      NO|
|100005|James| 44|  M|CALIFORNIA|RED ITCHY PATCHES|   BIOPSY|MALIGNANT|    SKIN|    2|RESECTION|     YES|
+------+-----+---+---+----------+-----------------+---------+---------+--------+-----+---------+--------+
only showing top 5 rows

### How Write DSL Queries on DataFrames

In [4]:
cancerdataDF = spark.read.csv("/home/ubuntu/data/CancerData.csv",header=True,inferSchema=True)
print("All rows and all columns:")
print("*"*30)
cancerdataDF.select("*").show(5)
print("*"*30)

print("All rows but few columns:")
print("*"*30)
cancerdataDF.select("ID","Name","Age","Sex").show(5)
print("*"*30)

print("All rows but only gender=male and age>50:")
print("*"*30)
cancerdataDF.select("*").where("Sex='M'").where("Age>50").show(5)
print("*"*30)

All rows and all columns:
******************************
+------+-----+---+---+----------+-----------------+---------+---------+--------+-----+---------+--------+
|    ID| Name|Age|Sex|     State|         Symptoms|Diagnosis|   Cancer|CancerSc|Stage|Treatment|Survival|
+------+-----+---+---+----------+-----------------+---------+---------+--------+-----+---------+--------+
|100001|David| 45|  M|   ALAMAMA|RED ITCHY PATCHES|   BIOPSY|MALIGNANT|    SKIN|    1|RESECTION|     YES|
|100002| John| 56|  M|    ALASKA|      BLOOD COUGH| PET SCAN|MALIGNANT|THORACIC|    2|  SURGERY|     YES|
|100003| Paul| 65|  M|   ARIZONA|RED ITCHY PATCHES|   BIOPSY|MALIGNANT|    SKIN|    3|RESECTION|      NO|
|100004| Mark| 35|  M|  ARKANSAS|      BLOOD COUGH| PET SCAN|MALIGNANT|THORACIC|    3|  SURGERY|      NO|
|100005|James| 44|  M|CALIFORNIA|RED ITCHY PATCHES|   BIOPSY|MALIGNANT|    SKIN|    2|RESECTION|     YES|
+------+-----+---+---+----------+-----------------+---------+---------+--------+-----+---------+--------+
only showing top 5 rows

******************************
All rows but few columns:
******************************
+------+-----+---+---+
|    ID| Name|Age|Sex|
+------+-----+---+---+
|100001|David| 45|  M|
|100002| John| 56|  M|
|100003| Paul| 65|  M|
|100004| Mark| 35|  M|
|100005|James| 44|  M|
+------+-----+---+---+
only showing top 5 rows

******************************
All rows but only gender=male and age>50:
******************************
+------+------+---+---+-----------+-----------------+---------+---------+--------+-----+---------+--------+
|    ID|  Name|Age|Sex|      State|         Symptoms|Diagnosis|   Cancer|CancerSc|Stage|Treatment|Survival|
+------+------+---+---+-----------+-----------------+---------+---------+--------+-----+---------+--------+
|100002|  John| 56|  M|     ALASKA|      BLOOD COUGH| PET SCAN|MALIGNANT|THORACIC|    2|  SURGERY|     YES|
|100003|  Paul| 65|  M|    ARIZONA|RED ITCHY PATCHES|   BIOPSY|MALIGNANT|    SKIN|    3|RESECTION|      NO|
|100006|Andrew| 53|  M|   COLORADO|RED ITCHY PATCHES|   BIOPSY|MALIGNANT|    SKIN|    1|RESECTION|     YES|
|100007| Scott| 68|  M|CONNECTICUT|      BLOOD COUGH| PET SCAN|MALIGNANT|THORACIC|    1|  SURGERY|     YES|
|100009|RoMert| 54|  M|    FLORIDA|      BLOOD COUGH| PET SCAN|MALIGNANT|THORACIC|    1|  SURGERY|     YES|
+------+------+---+---+-----------+-----------------+---------+---------+--------+-----+---------+--------+
only showing top 5 rows

******************************

### How Write Native SQL Queries

In [8]:
# Create a DataFrame
cancerdataDF = spark.read.csv("/home/ubuntu/data/CancerData.csv",header=True,inferSchema=True)

#Convert DataFrame to Temp Table or Permanent Table
cancerdataDF.registerTempTable("CancerData")

#Apply Native SQL Queries
print("All rows and all columns:")
print("*"*30)
spark.sql("select * from CancerData").show(5)

print("All rows but few columns:")
print("*"*30)
spark.sql("select ID,Name,Age,Sex from CancerData").show(5)

print("All rows but only gender=male and age>50:")
print("*"*30)
spark.sql("select * from CancerData where Sex='M' and Age>50").show(5)

All rows and all columns:
******************************
+------+-----+---+---+----------+-----------------+---------+---------+--------+-----+---------+--------+
|    ID| Name|Age|Sex|     State|         Symptoms|Diagnosis|   Cancer|CancerSc|Stage|Treatment|Survival|
+------+-----+---+---+----------+-----------------+---------+---------+--------+-----+---------+--------+
|100001|David| 45|  M|   ALAMAMA|RED ITCHY PATCHES|   BIOPSY|MALIGNANT|    SKIN|    1|RESECTION|     YES|
|100002| John| 56|  M|    ALASKA|      BLOOD COUGH| PET SCAN|MALIGNANT|THORACIC|    2|  SURGERY|     YES|
|100003| Paul| 65|  M|   ARIZONA|RED ITCHY PATCHES|   BIOPSY|MALIGNANT|    SKIN|    3|RESECTION|      NO|
|100004| Mark| 35|  M|  ARKANSAS|      BLOOD COUGH| PET SCAN|MALIGNANT|THORACIC|    3|  SURGERY|      NO|
|100005|James| 44|  M|CALIFORNIA|RED ITCHY PATCHES|   BIOPSY|MALIGNANT|    SKIN|    2|RESECTION|     YES|
+------+-----+---+---+----------+-----------------+---------+---------+--------+-----+---------+--------+
only showing top 5 rows

All rows but few columns:
******************************
+------+-----+---+---+
|    ID| Name|Age|Sex|
+------+-----+---+---+
|100001|David| 45|  M|
|100002| John| 56|  M|
|100003| Paul| 65|  M|
|100004| Mark| 35|  M|
|100005|James| 44|  M|
+------+-----+---+---+
only showing top 5 rows

All rows but only gender=male and age>50:
******************************
+------+------+---+---+-----------+-----------------+---------+---------+--------+-----+---------+--------+
|    ID|  Name|Age|Sex|      State|         Symptoms|Diagnosis|   Cancer|CancerSc|Stage|Treatment|Survival|
+------+------+---+---+-----------+-----------------+---------+---------+--------+-----+---------+--------+
|100002|  John| 56|  M|     ALASKA|      BLOOD COUGH| PET SCAN|MALIGNANT|THORACIC|    2|  SURGERY|     YES|
|100003|  Paul| 65|  M|    ARIZONA|RED ITCHY PATCHES|   BIOPSY|MALIGNANT|    SKIN|    3|RESECTION|      NO|
|100006|Andrew| 53|  M|   COLORADO|RED ITCHY PATCHES|   BIOPSY|MALIGNANT|    SKIN|    1|RESECTION|     YES|
|100007| Scott| 68|  M|CONNECTICUT|      BLOOD COUGH| PET SCAN|MALIGNANT|THORACIC|    1|  SURGERY|     YES|
|100009|RoMert| 54|  M|    FLORIDA|      BLOOD COUGH| PET SCAN|MALIGNANT|THORACIC|    1|  SURGERY|     YES|
+------+------+---+---+-----------+-----------------+---------+---------+--------+-----+---------+--------+
only showing top 5 rows